<h1>Sandwiches</h1>

<div class="sandwich-page">
<!-- Tabs -->
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">All Sandwiches</a>
      <a class="nav-link" data-toggle="pill" href="#v-pills-new" role="tab">New Sandwich</a>
    </div>
  </div>

<!-- Content -->
  <div class="details tab-content">

<!-- All Sandwiches -->
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <ul>
        <% @sandwiches.each do |sandwich| %>
        <li><%= link_to sandwich.name, sandwich_path(sandwich) %></li>
        <% end %>
      </ul>
  </div>
  
<!-- New Sandwich Form -->
  <div class="tab-pane fade show " id="v-pills-new" role="tabpanel" aria-labelledby="v-pills-new-tab">
    <%= render :partial => "sandwiches/new" %>
  </div>
</div>
