/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
@import "./user.scss";
@import "./spread.scss";
@import "./bread.scss";
@import "./sandwich.scss";

body ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

main {
  padding-top: 3%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 3%;
  font-family: sans-serif;
  text-align: center;
}

footer {
  position: relative;
  text-align: center;

}

main h1, h2, h5 {
  color: #111;
  text-align: center;
  text-decoration: none;
  transform: all 5s;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}

main a:hover {
  opacity: 100;
  color: white;
  background-color: #7e68ff;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar {
  position: relative;
}

.navbar a {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar ul li a {
 color: #111;
 text-align: center;
 text-decoration: none;
 transform: all 5s;
 font-family: sans-serif;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.navbar ul li:hover {
  opacity: 100;
  color: white;
  background-color: gold;
}

.dropdown-menu a:hover {
 opacity: 100;
 color: white;
 background-color: #111;
}
.actions{
  width: 220px;
  border: 1px solid #dbdbdb;

.nav-link{
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 0;
    padding: 12px 0 12px 30px;
    &:hover{
      cursor: pointer;
    }
  }
  .nav-pills .nav-link.active{
    border-left: 2px solid;
    font-weight: 600;
    background-color: #f96161;
  }
}

.parallax {
  /* The image used */
  background: url("peanut_butter_and_jelly.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heart {
  opacity: 0.6;
  background-color: red;
  height: 20px;
  transform: rotate(-45deg);
  width: 20px;
}
.heart:before {

  top: -10px;
  left: 0;
}

.heart:before {

  content: "";
  background-color: red;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
  left: -2px;
  top: -20px;
}
.heart:after {

  content: "";
  background-color: red;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
  bottom: -2px;
  left: 13px;
}
.heart:hover {opacity: 1}
