/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
@import "./user.scss";

body ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

main {
  padding-top: 3%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 3%;
  font-family: sans-serif;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 38%;
  right: auto;

}

.navbar a {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar ul li a {
 color: #111;
 text-align: center;
 text-decoration: none;
 transform: all 5s;
 font-family: sans-serif;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.navbar ul li:hover {
  opacity: 100;
  color: white;
  background-color: gold;
}

.dropdown-menu a:hover {
 opacity: 100;
 color: white;
 background-color: #111;
}
