.spread-page{
  display: flex;
  margin-top: 60px;
  min-height: 500px;

  .actions{
    width: 220px;
    border: 1px solid #dbdbdb;
  }
  .details{
    flex: 1;
    border: 1px solid #dbdbdb;
    border-left:none;
    padding-top: 50px;
  }
}
