

<div class="container-fluid">

    <div class="row d-flex justify-content-center align-self-center">

      <h1>An elite club at The Flatiron School</h1>
      <p>
        An exclusive, members' only establishment for those who enjoy peanutbutter and jelly sandwiches.
        Once invited, members has access to the club's amenities, such as bread and spreads.
        We have weekly specials of exquisite and rare breads and complementary spreads.
      </p>
    </div>
</div>
