
<h1>An elite club at The Flatiron School</h1>

  An exclusive, member's only establishment for those who enjoy peanutbutter and jelly sandwiches
  Once invited, members has access to the club's amenities, such as bread and spreads.
<br>
